<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
<head>
<!--

  @(#)package.html	1.00 03/04/01

-->
</head>
<body bgcolor="white">
contains the methods for reading an XML file describing the dispatcher panel.
<p>
The XML parsing is distributed in cats/layout/items, so that each of the
objects stored in the XML file is physically associated with its parser.  This
package contains the routines for maintaining the XML stack for reading it
elements containing elements, etc.
<h2>Package Specification</h2>

This package depends on the other packages at its level.

<h2>Related Documentation</h2>

See the documentation in the other packages.

</body>
</html>
