<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
<head>
<!--

  @(#)package.html	1.00 03/04/01

-->
</head>
<body bgcolor="white">
contains the contents of each Grid on the track plan.  The values of these
classes are read from the XML configuration file.
<p>
Section.java is the envelope for the description of a Section of the trackplan.
All other classes are components of a Section.  They are broken out to be
more manageable.  Each component must support methods for the following
categories of actions:
<ol>
<li>parsing and changing of values from an XML document
<li>visual presentation on the Swing view model
</ol>

<h2>Package Specification</h2>

This package depends on the other packages at its level.

<h2>Related Documentation</h2>

See the documentation in the other packages.

</body>
</html>
